<div class="head ">
  <div class="container headList">
    <h1>Listado de Asistencia</h1>
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete , class:"white"%>
  </div>
</div>
<div class="menu">
  <div class="container">
    <ul class="">
      <li><%= link_to 'Personas', people_path  ,class:""%></li>
      <li><%= link_to 'Periodos', periods_path  ,class:""%></li>
      <li><%= link_to 'Eventos', events_path  ,class:""%></li>
      <li><%= link_to 'Matricula', student_enrollments_path  ,class:""%></li>
      <li><%= link_to 'Asistencia', student_assistances_path  ,class:""%></li>
      <li><%= link_to 'Evento Programado', scheduled_events_path  ,class:""%></li>
    </ul>
  </div>
</div>

<div class="container">
  <%= link_to new_student_assistance_path, class:"" do %>
    <i class="fa fa-plus-circle addStudent"></i> Nuevo
  <% end %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni o Codigo</th>
      <th>Periodo</th>
      <th>Nombre del Evento</th>
      <th>Asistencia</th>
      <th>Hora Registrada</th>
      <th>Opciones</th>


    </tr>
  </thead>
  <tbody>


        <% @student_assistances.each do |f| %>
          <tr>
            <td><%= f.student_enrollment.person.name%> </td>
            <td><%= f.student_enrollment.person.lastName%> </td>
            <td><%= f.student_enrollment.person.dni%> </td>
            <td><%= f.student_enrollment.period.name%> </td>
            <td><%= f.scheduled_event.name%> </td>
            <td><%= f.assistance%> </td>
            <td><%= f.registered_time%> </td>



            <td>
              <%= link_to student_assistance_path(id:f.id) do %>
                  ver
                <% end %>
                <%= link_to edit_student_assistance_path(f) do  %>
                  editar
                <% end %>
                <%= link_to student_assistance_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
                  eliminar
                <% end %>
            </td>
          </tr>
        <%end%>


  </tbody>
</table>
<p><%= link_to new_student_assistance_path, class:"white" do %>
      Nuevo
  <% end %>
</p>
