<li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %> </li>

<h1>Listado de Personas</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Dni</th>
      <th>Celular</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do  |f|  %>
      <tr>
        <td><%= f.name%> </td>
        <td><%= f.lastName%> </td>
        <td><%= f.email%> </td>
        <td><%= f.dni%> </td>
        <td><%= f.cellphone%> </td>

        <td>
          <%= link_to  person_path(id:f.id) do %>
              ver
            <% end %>
            <%= link_to  edit_person_path(f) do  %>
              editar
            <% end %>
            <%= link_to  person_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
              eliminar
            <% end %>
        </td>
      </tr>
    <%end%>

  </tbody>
</table>
<p><%= link_to new_person_path, class:"white" do %>
      Nuevo
<% end %> </p>
