<div class="head ">
  <div class="container headList">
    <h1>Lista de Estudiantes</h1>
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete , class:"white"%>
  </div>
</div>
<div class="menu">
  <div class="container">
    <ul class="">
      <li><%= link_to 'Personas', people_path  ,class:""%></li>
      <li><%= link_to 'Periodos', periods_path  ,class:""%></li>
      <li><%= link_to 'Eventos', events_path  ,class:""%></li>
      <li><%= link_to 'Matricula', student_enrollments_path  ,class:""%></li>
      <li><%= link_to 'Asistencia', student_assistances_path  ,class:""%></li>
      <li><%= link_to 'Evento Programado', scheduled_events_path  ,class:""%></li>
    </ul>
  </div>
</div>

<div class="container">

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Dni</th>
      <th>Celular</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do  |f|  %>
      <tr>
        <td><%= f.name%> </td>
        <td><%= f.lastName%> </td>
        <td><%= f.email%> </td>
        <td><%= f.dni%> </td>
        <td><%= f.cellphone%> </td>

        <td class="option">
          <%= link_to  person_path(id:f.id) do %>
              Ver
            <% end %>
            <%= link_to  edit_person_path(f) do  %>
              Editar
            <% end %>
            <%= link_to  person_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
              Eliminar
            <% end %>
        </td>
      </tr>
    <%end%>

  </tbody>
</table>
<p><%= link_to new_person_path, class:"boton" do %>
      Nuevo
  <% end %>
</p>
</div>
