<p>
  <strong>Name:</strong>
  <%= @person.name%>
</p>
<p>
  <strong>Apellido:</strong>
  <%= @person.lastName%>
</p>
<p>
  <strong>Apellido:</strong>
  <%= @person.email%>
</p>
<p>
  <strong>Dni:</strong>
  <%= @person.dni%>
</p>
<p>
  <strong>Celular:</strong>
  <%= @person.cellphone%>
</p>

<p class="button"><%= link_to 'regresar', people_path  ,class:"white"%></p>
