<div class="head" >
  <div class="container headList">
    <h1>Estudiante</h1>
  </div>
</div>
<div class="containerTable">

<p>
  <strong class="subtitle">Name:</strong>
  <%= @person.name%>
</p>
<p>
  <strong class="subtitle">Apellido:</strong>
  <%= @person.lastName%>
</p>
<p>
  <strong class="subtitle">Apellido:</strong>
  <%= @person.email%>
</p>
<p>
  <strong class="subtitle">Dni:</strong>
  <%= @person.dni%>
</p>
<p>
  <strong class="subtitle">Celular:</strong>
  <%= @person.cellphone%>
</p>

<table class="qr-code">
<% @qr.modules.each_index do |x| %>
  <tr>
  <% @qr.modules.each_index do |y| %>
   <% if @qr.dark?(x,y) %>
    <td class="black"/>
   <% else %>
    <td class="white"/>
   <% end %>
  <% end %>
  </tr>
<% end %>
</table>
<br />
<br />


<p class="button"><%= link_to 'regresar', people_path  ,class:"white"%></p>
