<div class="formulario" >
  <div class="container headList">
    <h1>Estudiante</h1>
  </div>
</div>
<div class="containerTable">

<p>
  <strong class="subtitle">Name:</strong>
  <%= @person.name%>
</p>
<p>
  <strong class="subtitle">Apellido:</strong>
  <%= @person.lastName%>
</p>
<p>
  <strong class="subtitle">Apellido:</strong>
  <%= @person.email%>
</p>
<p>
  <strong class="subtitle">Dni:</strong>
  <%= @person.dni%>
</p>
<p>
  <strong class="subtitle">Celular:</strong>
  <%= @person.cellphone%>
</p>




<p class="button"><%= link_to 'regresar', people_path  ,class:"white"%></p>
