<%= form_for(@period) do |f|%>
<%= render "shared/error_messages", :target => @period%>

  <div class="">
    <%= f.label :Periodo %>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.label :Fecha_Inicio%>
    <%= f.date_field :date_init %>
  </div>
  <div class="">
    <%= f.label :Fecha_Fin %>
    <%= f.date_field:date_finish%>
  </div>

  <%= f.submit "Crear Periodo"%>

<%end%>

<p class="button"><%= link_to 'regresar', periods_path  ,class:"white"%></p>
