<%= form_for @scheduled_event do |f|%>
  <%= render "shared/error_messages", :target => @scheduled_event %>
  <div class="">
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </div>
   <div class="">
    <%= f.label :evento %><br />
    <%= f.select :event_id, Event.all.collect {|c| [ c.name, c.id ] } %>
  </div>
  <div class="">
    <%= f.label :Fecha%>
    <%= f.date_field:date%>
  </div>
  <div class="">
    <%= f.label :Hora_Inicio %>
    <%= f.time_field:hour_init%>
  </div>
  <div class="">
    <%= f.label :Hora_Fin %>
    <%= f.time_field:hour_finish %>
  </div>

  <%= f.submit "Crear Evento programado"%>

<%end%>
