

<h1>Listado de Eventos programados</h1>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Evento</th>
      <th>Lugar</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>


        <% @scheduled_events.each do |f| %>
          <tr>
            <td><%= f.date%> </td>
            <td><%= f.hour_init%> </td>
            <td><%= f.hour_finish%> </td>
            <td><%= f.event.name%> </td>
            <td><%= f.event.place%> </td>

            <td>
              <%= link_to scheduled_event_path(id:f.id) do %>
                  ver
                <% end %>
                <%= link_to edit_scheduled_event_path(f) do  %>
                  editar
                <% end %>
                <%= link_to  scheduled_event_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
                  eliminar
                <% end %>
            </td>
          </tr>
        <%end%>


  </tbody>
</table>
<p><%= link_to new_scheduled_event_path, class:"white" do %>
      Nuevo
  <% end %>
</p>
