<div class="head ">
  <div class="container headList">
    <h1>Listado de Eventos Programados</h1>
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete , class:"white"%>
  </div>
</div>
<div class="menu">
  <div class="container">
    <ul class="">
      <li><%= link_to 'Personas', people_path  ,class:""%></li>
      <li><%= link_to 'Periodos', periods_path  ,class:""%></li>
      <li><%= link_to 'Eventos', events_path  ,class:""%></li>
      <li><%= link_to 'Matricula', student_enrollments_path  ,class:""%></li>
      <li><%= link_to 'Asistencia', student_assistances_path  ,class:""%></li>
      <li><%= link_to 'Evento Programado', scheduled_events_path  ,class:""%></li>
    </ul>
  </div>
</div>

<div class="container">

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Evento</th>
      <th>Lugar</th>
      <th>opciones</th>
    </tr>
  </thead>
  <tbody>


        <% @scheduled_events.each do |f| %>
          <tr>
            <td><%= f.name %> </td>
            <td><%= f.date%> </td>
            <td><%= f.hour_init%> </td>
            <td><%= f.hour_finish%> </td>
            <td><%= f.event.name%> </td>
            <td><%= f.event.place%> </td>

            <td>
              <%= link_to scheduled_event_path(id:f.id) do %>
                  Ver
                <% end %>
                <%= link_to edit_scheduled_event_path(f) do  %>
                  Editar
                <% end %>
                <%= link_to  scheduled_event_path(f), method: :delete , data: { confirm: '¿Estas Seguro?' } do %>
                  Eliminar
                <% end %>
            </td>
          </tr>
        <%end%>


  </tbody>
</table>
<p><%= link_to new_scheduled_event_path, class:"boton" do %>
      Nuevo
  <% end %>
</p>
