<p>
  <strong>Evento:</strong>
  <%= @scheduled_event.event.name%>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @scheduled_event.date%>
</p>
<p>
  <strong>Hora Inicio:</strong>
  <%= @scheduled_event.hour_init%>
</p>
<p>
  <strong>Hora Fin:</strong>
  <%= @scheduled_event.hour_finish%>
</p>


<p class="button"><%= link_to 'regresar', scheduled_events_path  ,class:"white"%></p>
