<div class="container headList">
  <ul class="menu">
    <li><%= link_to 'Personas', people_path  ,class:""%></li>
    <li><%= link_to 'Periodos', periods_path  ,class:""%></li>
    <li><%= link_to 'Eventos', events_path  ,class:""%></li>
    <li><%= link_to 'Matricula', student_enrollments_path  ,class:""%></li>
    <li><%= link_to 'Asistencia', student_assistances_path  ,class:""%></li>
    <li><%= link_to 'Evento Programado', scheduled_events_path  ,class:""%></li>

  </ul>
</div>
