<div class="">
  <ul>
    <li><%= link_to 'personas', people_path  ,class:""%></li>
    <li><%= link_to 'periodos', periods_path  ,class:""%></li>
    <li><%= link_to 'eventos', events_path  ,class:""%></li>
    <li><%= link_to 'matricula', student_enrollments_path  ,class:""%></li>
    <li><%= link_to 'asistencia', student_assistances_path  ,class:""%></li>
    <li><%= link_to 'evento programado', scheduled_events_path  ,class:""%></li>


  </ul>
</div>
